.container div {
    width: 250px;
    height: 500px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
  }

  .container img{
      width: 100%;
      height: 100%;
      border-radius: 1rem;
  }
  
  .container .item1 { height: 200px; }
  .container .item4 { height: 800px; }
  .container .item6 { height: 600px; }
  .container .item11 { height: 400px; }