{% extends 'base.html' %}

{% block content %}

<div>
    <div style="text-align: center; max-width: 500px; margin: 4rem auto;">
        <p>
            {{target_user.date_joined}}
        </p>
        {% if target_user.profile %}
        {% if target_user.profile.image %}
        <img src="{{ target_user.profile.image.url}}" alt="profile_image" style="height:8rem; width:8rem; border-radius:50%;">
        {% endif %}
        <h2 style="font-family: 'NanumSqureB'; margin-top: 1rem;">
            {{target_user.profile.nickname}}
        {% if target_user == user %}
        <a class="material-icons" style="box-shadow:0 0 4px #ccc0c0; border-radius: 50%; padding:0.2rem;"
            href="{% url 'profileapp:update' pk=target_user.profile.pk %}">
            edit
        </a></h2>
        {% endif %}
        <h6>{{target_user.profile.message}}</h6>
        {% else %}
        {% if target_user == user %}
        <a href="{% url 'profileapp:create' %}">
            <h2 style="font-family: 'NanumSqureB';">
            Create Profile
            </h2>
        </a>
        {% else %}
        <h2>
            닉네임 미설정
        </h2>
        {% endif %}
        {% endif %}

        {% if target_user == user %}
        <a class="material-icons" style="box-shadow:0 0 4px #ccc0cc; border-radius: 50%; padding:0.2rem;"
        href="{% url 'Account:update' pk=user.pk %}">
                settings    
        </a>
        <a class="material-icons" style="box-shadow:0 0 4px #f10c0c; border-radius: 50%; padding:0.2rem;"
        href="{% url 'Account:delete' pk=user.pk %}">
            
                cancel
            
        </a>
        {% endif %}
        </div>
        <div>
            {% include 'snippets/list_pragment.html' with article_list=object_list %}
        </div>
</div>

{% endblock %}